<style type="text/css">

.navbar-right{
    padding-right: 25px;}
  
.form-group{
      padding: 10px;}

      
#nav {
    margin-top: 50px;
    line-height:30px;
    background-color:#eeeeee;
    height: 1000px;
    width:20%;
    float:left;
    padding:5px; 
}
#map {
    margin-top: 50px;
    height: 1000px;
    width:80%;
    float:left;
    padding:5px; 
}

</style>
